<app-navigation></app-navigation>

<section>
    <form id="reset-password" method="POST" action="/server" (submit)="submitResetPassworForm()" [formGroup]="resetForm">
        <h2>Reset Password</h2>
    
        <div class="form_input">
            <label for="old_password">
                <input type="password"  name="old_password" id="old_password" placeholder=" " class="form-control" formControlName="oldPassword" required>
                <span>Old Password</span>
            </label>
            <!-- <label for="new_password">
                <input type="password" value="" name="new_password" id="new_password" placeholder=" " class="form-control" formControlName="newPassword">
                <span>New Password</span>
            </label>
            <label for="confirm_password">
                <input type="password" value="" name="confirm_password" id="confirm_password" placeholder=" " class="form-control" formControlName="confirmPassword">
                <span>Confirm Password</span>
            </label> -->
        </div> 

      
        <button type="submit" class="btn btn-primary login_btn">Submit</button>
    </form>

    <!-- <div *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)"
    class="alert alert-danger">

<div *ngIf="oldPassword.errors?.['required']">
    Name is required.
</div>
<div *ngIf="oldPassword.errors?.['minlength']">
    Name must be at least 4 characters long.
</div>
</div> -->

</section>
