.customer_search_modal_form {
    label {
        color: #25324B;
        display: block;
        font: 16px/19px Inter-Regular, tahoma,  verdana, arial, sans-serif; 
        margin-bottom: 7px;
    }

    .form_input {
        margin-bottom: 10px;
        .form-control {
            &:focus {
                border-color: #64D9BD;
                box-shadow: 0 0 0 0.25rem rgba(100,217,189, 0.25);
            }
        }
    }

    .customer_name {
        #first_name, #middle_name {
            display: inline-block;
            width: 378px;
            margin-bottom: 10px;
       }
        #first_name{
            margin-right: 10px;
        }
    }

    .button_group {
        display: flex;
        justify-content: space-between;
    }
}