<!-- <ng-template #template>
    <div class="modal-header">
        <h2 class="modal-title pull-left">Retail Customer/IB User Search</h2>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <form class="modal-body">
        <div class="form_input">
            <label for="user_name">User Name</label>
            <input type="text" class="form-control">
        </div>  
    </form>
</ng-template> -->
