<h1>MARS UPGRADE PROTOTYPE</h1>

<ul>
  <li><a routerLink="/login" target="_blank">login page</a></li>
  <li><a href="/reset-password">Reset password page</a></li>
  <li><a href="/customer-dashboard" target="_blank">Customer Dashboard</a></li>
  <li><a href="/admin-dashboard" target="_blank">Admin Dashboard</a></li>
  <li><a href="">Customer Mail Search Facility Page</a></li>
  <li><a href="">Customers Requiring Access Code Generation and Printing Page</a></li>
  <li><a href="">Add User (should be in modal ?)</a></li>
</ul>